.c_app {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	background-color: #f5f7fa;
	padding-top: 3.75rem;
	color: #555f77;
}
	